@model BusinessObjects.Product
@{
    var categories = (List<BusinessObjects.Category>)ViewData["category"];
}

<h1>Product details</h1>

<div class="mb-4">
    <label class="form-label">Product Id</label>
    <input type="number" class="form-control" value="@Model.ProductId" disabled />
</div>
<div class="mb-4">
    <label class="form-label">Product Name</label>
    <input type="text" class="form-control" value="@Model.ProductName" disabled />
</div>
<div class="mb-4">
    <label class="form-label">Price</label>
    <input type="number" class="form-control" value="@Model.UnitPrice" disabled />
</div>
<div class="mb-4">
    <label class="form-label">UnitsInStock</label>
    <input type="number" class="form-control" value="@Model.UnitsInStoke" disabled />
</div>
<div class="mb-4">
    <label class="form-label">Category</label>
    <select class="form-select" asp-for="CategoryId" value="@Model.CategoryId" disabled>
        @foreach (var item in categories)
        {
            <option value="@item.CategoryId">@item.CategoryName</option>
        }
    </select>
</div>

@Html.ActionLink("Back to Products list", "Index")