@model BusinessObjects.Product
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var categories = (List<BusinessObjects.Category>)ViewData["category"];
}
<style>
    a, a:hover {
        color: #fff;
        text-decoration: none;
    }

</style>

<form asp-controller="Product" asp-action="Edit" method="post">
    <input type="hidden" asp-for="ProductId" value="@Model.ProductId" />
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Product Name</label>
        <input type="text" class="form-control" asp-for="ProductName" value="@Model.ProductName" />
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Price</label>
        <input type="number" class="form-control" asp-for="UnitPrice" value="@Model.UnitPrice" />
    </div>
    <div class="mb-3">
        <label class="form-label">UnitsInStoke</label>
        <input type="number" class="form-control" asp-for="UnitsInStoke" value="@Model.UnitsInStoke" />
    </div>
    <div class="mb-3">
        <label class="form-label">Category</label>
        <select class="form-select" asp-for="CategoryId" value="@Model.CategoryId">
            @foreach (var item in categories)
            {
                <option value="@item.CategoryId">@item.CategoryName</option>
            }
        </select>
    </div>
    <input class="btn btn-primary" type="submit" value="Save" />
    <button class="btn btn-danger">@Html.ActionLink("Cancel", "Index")</button>
</form>